In [47]:
import pandas as pd
df = pd.read_csv("GSE142481_PER403_797_CPM.txt", index_col=None, sep="\t", skiprows=1, names=[ 
    "gene_id",
    "gene_name",
    "PER403_dmso_1",
    "PER403_dmso_2",
    "PER403_gne_1",
    "PER403_gne_2", 
    "PER403_neo_1",
    "PER403_neo_2", 
    "PER403_otx_1",
    "PER403_otx_2", 
    "PER403_otx_gne_1",
    'PER403_otx_gne_2',
    'TC797_dmso_1',
    'TC797_dmso_2', 
    'TC797_gne_1', 
    'TC797_gne_2', 
    'TC797_neo_1',
    'TC797_neo_2', 
    'TC797_otx_1', 
    'TC797_otx_2', 
    'TC797_otx_gne_1',
    'TC797_otx_gne_2'
])

In [48]:
df["PER403"] = (df.PER403_dmso_1 + df.PER403_dmso_2) / 2
df["TC797"] = (df.TC797_dmso_1 + df.TC797_dmso_2) / 2

In [49]:
df_lines = df[["gene_id", "gene_name", "PER403", "TC797"]]

In [50]:
df_lines[df_lines.gene_name == "NUTM1"]

                  gene_id gene_name    PER403     TC797
10371  ENSG00000184507.15     NUTM1  6.064538  6.200746

In [56]:
df_lines[(df_lines.PER403 > 11) & (df_lines.TC797 > 11) & ~df_lines.gene_name.str.startswith("MT")]

                  gene_id gene_name     PER403      TC797
5050   ENSG00000096384.20  HSP90AB1  11.465208  11.538225
5117   ENSG00000156508.18    EEF1A1  11.419682  11.779385
5478   ENSG00000075624.15      ACTB  11.333835  11.467588
8303    ENSG00000251562.8    MALAT1  12.232974  11.682505
8660   ENSG00000109971.14     HSPA8  11.567356  11.685167
9251   ENSG00000133636.11       NTS  12.298201  12.020459
9968    ENSG00000276168.1    RN7SL1  13.082012  11.724364
9979    ENSG00000274012.1    RN7SL2  13.244771  12.117221
12458  ENSG00000184009.11     ACTG1  11.131633  11.169948
12866  ENSG00000167658.16      EEF2  11.585883  11.722729